<%
var errors = errors
var success_msg = success_msg
var userInfo = userInfo
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            rel="shortcut icon"
            type="x-icon"
            href="../images/orthodoxcanonlogoNEW.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/output.css" />

    <script src="/scripts/darkModeToggle.js" defer></script>
    <script src="/scripts/dialogElem.js" defer></script>
    <script src="/scripts/hamburgerMenu.js" defer></script>
</head>

<body class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
<%- include('partials/navBar') %>

<ul>
    <% if (typeof errors != 'undefined') { %> <% errors.forEach(error =>{ %>
        <li class="errorMsg"><%= error.message %></li>
    <% }) %> <% } %>
</ul>


<main>

    <article class="flex justify-center">

        <div>
            <h1 class="nodeTitleH1 ">Your account</h1>
            <div class="nodeInsideDiv grid grid-cols-2 gap-4">

                <% if (userInfo && userInfo.length > 0) {

                    const data = userInfo[0]
                        const name = data.name
                        const email = data.email
                        const numOfNotes = data.note_id.length
                        const numOfHighlights = data.highlight_id.length
                %>

                <div class="grid grid-rows-4 items-center sm:text-lg text-sm">
                    <p>Your Name - <strong><%= name %></strong> </p>
                    <p>Your Email - <strong><%= email %></strong> </p>
                    <p>Your total notes taken - <strong><%= numOfNotes %></strong> </p>
                    <p>Your total highlights - <strong><%= numOfHighlights %></strong> </p>
                </div>

                <% } %>

                <div>
                    <form action="/users/account" method="POST" class="grid grid-rows-4 gap-1 sm:text-lg text-sm">
                        <input type="text" name="name" class="border-[#355488] border rounded-sm p-1 dark:bg-[#202124] dark:border-[#474747]" placeholder="Change your name">
                        <input type="email" name="email" class="border-[#355488] border rounded-sm p-1 dark:bg-[#202124] dark:border-[#474747]" placeholder="Change your email">
                        <input type="password" name="password" class="border-[#355488] border rounded-sm p-1 dark:bg-[#202124] dark:border-[#474747]" placeholder="Change your password">
                        <input type="password" name="confirmPass" class="border-[#355488] border rounded-sm p-1 dark:bg-[#202124] dark:border-[#474747]" placeholder="Confirm new password">
                        <input type="submit" value="Submit" class="input cursor-pointer">
                    </form>
                </div>

                <div>
                    <button data-open-modal class="bg-red-500 border border-red-900 p-1 rounded-md text-red-900">Delete Account</button>
                </div>

                <dialog data-modal class="border border-[#355488] rounded-md dark:text-[#d9dde0] dark:bg-[#303134] dark:border-[#474747]">
                    <div class="m-2 p-5">
                        <p class="">WARNING!!! YOU ARE ABOUT TO <strong>DELETE</strong> YOUR ANCIENT BIBLE ACCOUNT!!!</p>
                        <p class="">ALL OF YOUR NOTES AND HIGHLIGHTS WILL BE DELETED <strong>FOREVER</strong>!!!</p>

                        <br><br>

                        <div class="flex justify-center gap-1">
                            <div class="block p-1">
                                <p><strong><i>CONTINUE?</i></strong></p>
                                <div class="flex justify-center">
                                    <form action="/users/account/action/delete" method="POST">
                                        <input type="submit" class="bg-red-500 border border-red-900 p-1 rounded-md text-red-900 cursor-pointer" value="DELETE">
                                        <input type="hidden" value="<% user_id %>">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <button data-close-modal class="input">Close</button>
                    </div>
                </dialog>

                <div class="flex gap-2 items-center">
                    <span>Toggle dark mode =></span>
                    <img
                            class="sunDisabled cursor-pointer justify-center"
                            src="../images/svgs/brightness-high.svg"
                            alt="Dark Mode" />
                    <img
                            class="sunEnabled cursor-pointer justify-center"
                            src="../images/svgs/brightness-high-fill.svg"
                            alt="Bright Mode" />
                </div>
            </div>
        </div>
    </article>
</main>
</body>
</html>
