<% /**
 * bookTitleOptions
 * @type {string[]}
 *
 * selectedBook
 * @type {string}
 *
 * bookChapters
 * @type {number[]}
 *
 * selectedChapter
 * @type {number}
 *
 * previousBook
 * @type {string}
 *
 * previousChapter
 * @type {number}
 *
 * nextBook
 * @type {string}
 *
 * nextChapter
 * @type {number}
 *
 * bookText
 * @type {Array<{is_red: boolean, verse_number: number, verse_text: string }>}
 *
 * noteMenuId
 * @type {number}
 *
 * loggedIn
 * @type {boolean}
 */%>

<%
var bookTitleOptions = bookTitleOptions;
var selectedBook = selectedBook;
var bookChapters = bookChapters;
var selectedChapter = selectedChapter;
var previousBook = previousBook;
var previousChapter = previousChapter;
var nextBook = nextBook;
var nextChapter = nextChapter;
var bookText = bookText;
var noteMenuId = noteMenuId;
var text_content = text_content;
var loggedIn = loggedIn;
%>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link
			rel="shortcut icon"
			type="x-icon"
			href="../images/orthodoxcanonlogoNEW.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Bible</title>
	<link rel="stylesheet" href="../css/output.css" />

	<script src="/scripts/darkModeToggle.js" defer></script>
	<script src="/scripts/bibleFormattingOptions.js" defer></script>
	<script src="/scripts/resetChapterAndSubmit.js" defer></script>
	<script src="/scripts/noteMenuToggle.js" defer></script>
	<script src="/scripts/hamburgerMenu.js" defer></script>
</head>
<body
		class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
<%- include('partials/navBar')  %>

<main class="grid grid-cols-4 grid-rows-1 gap-5 nodeMargins">
	<article class="xl:col-start-1 xl:col-span-1 sm:col-start-2 sm:col-span-2 col-start-1 col-span-full">
		<!-- Navigate Book -->
		<div class="text-lg">
			<h1 class="nodeTitleH1">— Navigate —</h1>
			<div class="nodeInsideDiv grid gap-1 grid-cols-2 grid-rows-2">
				<form
						class="grid grid-cols-2 col-span-2"
						id="selectForm"
						action="/users/fathers"
						method="GET">
					<select
							name="book"
							id="bookSelect"
							class="p-1 mx-2 rounded-sm dark:bg-[#202124] col-start-1"
							onchange="resetChapterAndSubmit()">
						<% for( let i = 0; i < bookTitleOptions.length; i++ ) { %>
							<option value="<%= bookTitleOptions[i] %>" <%= selectedBook == bookTitleOptions[i] ? 'selected' : '' %>>
								<%= bookTitleOptions[i] %>
							</option>
						<% } %>
					</select>

					<select
							name="chapter"
							id="chapterSelect"
							class="p-1 mx-2 rounded-sm dark:bg-[#202124] col-start-2"
							onchange="this.form.submit()">
						<% for( let i = 0; i < bookChapters.length; i++ ) {
						if(bookChapters[i] > 0) { %>
							<option value="<%= bookChapters[i] %>" <%= selectedChapter === bookChapters[i] ? 'selected' : '' %>>
								<%= bookChapters[i] %>
							</option>
						<%} else { %>
							<option value="<%= bookChapters[i] %>" <%= selectedChapter === bookChapters[i] ? 'selected' : '' %>>
								<%= bookChapters[i] %>
							</option>
						<% }} %>
					</select>
				</form>

				<button
						id="verseBtn"
						class="bg-gray-200 px-1 rounded-sm hover:bg-gray-300 dark:hover:bg-[#0f0f0f] dark:bg-[#202124] mx-2 row-start-2 col-span-full">
					Verse-By-Verse
				</button>

			</div>
		</div>

		<!-- Formatting -->
<!--		<div class="text-lg">-->
<!--			<h1 class="nodeTitleH1">Formatting Options</h1>-->
<!--			<div class="nodeInsideDiv">-->
<!--				<div class="grid gap-1">-->

<!--					<button-->
<!--							id="redLetterBtn"-->
<!--							class="bg-gray-200 px-1 rounded-sm text-red-600 hover:bg-red-600 hover:text-white active:bg-red-600 dark:bg-[#202124]">-->
<!--						Red Lettering-->
<!--					</button>-->
<!--					<select-->
<!--							name="fontType"-->
<!--							id="fontType"-->
<!--							class="dark:bg-[#202124] bg-gray-200 p-1">-->
<!--						<option value="">Arial</option>-->
<!--						<option value="Times New Roman">Times New Roman</option>-->
<!--						<option value="Courier New">Courier New</option>-->
<!--					</select>-->
<!--					<select-->
<!--							name="fontSize"-->
<!--							id="fontSize"-->
<!--							class="dark:bg-[#202124] bg-gray-200 p-1">-->
<!--						<option value="18px">Default Size</option>-->
<!--						<option value="22px">Medium Size</option>-->
<!--						<option value="24px">Large Size</option>-->
<!--					</select>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
	</article>
	<!-- Book Text and pagination -->
	<div class="xl:col-start-2 col-span-full row-start-2 col-start-1 xl:col-span-3 xl:row-start-1">
		<div class="text-lg">
			<h1 class="nodeTitleH1 flex justify-center gap-5 align-middle" id="pagination">
				<a id="prevLinkPag" class="text-xl" href="/users/fathers?book=<%= previousBook %>&chapter=<%= previousChapter %>">
					&#8592;
				</a>
				<%= selectedBook %> Chapter <%= selectedChapter %>
				<a id="nextLinkPag" class="text-xl" href="/users/fathers?book=<%= nextBook %>&chapter=<%= nextChapter %>">
					&#8594;
				</a>
			</h1>

			<script>
				document.getElementById('nextLinkPag').addEventListener('click', () => {
					localStorage.setItem('selectedBook', '<%= selectedBook %>');
					localStorage.setItem('selectedChapter', <%= selectedChapter %>)
				})
				document.getElementById('prevLinkPag').addEventListener('click', () => {
					localStorage.setItem('selectedBook', '<%= selectedBook %>');
					localStorage.setItem('selectedChapter', <%= selectedChapter %>)
				})
			</script>

			<div id="vContainer" class="nodeInsideDiv px-5">

				<% bookText.map((book, index) => { %>
					<% const noteMenuId = `createNoteMenu-${index}`; %>
					<% const fathers_id = book.id; %>
					<% const text_content = book.text_content; %>

					<% if (loggedIn) { %>

						<% const filterHighlights = userHighlightsFathers.filter((highlight) => highlight.fathers_id === fathers_id); %>
						<% const hasHighlight = filterHighlights.length > 0 ? filterHighlights[0].highlight_color : null; %>

							<span class="m-1 p-1 cursor-pointer select-none <%= hasHighlight %>" onclick="toggleNoteMenu('<%= noteMenuId %>')">
								<span class="text-gray-800 dark:text-[#d9dde0] cursor-pointer select-none  <%= hasHighlight %>" id="<%= fathers_id %>"></span>
								<%= text_content %>
							</span>

						<% const filterNotes = userNotesFathers.filter((note) => note.fathers_id === fathers_id); %>
						<% if (filterNotes.length > 0) { %>
							<% filterNotes.map((note) => { %>
								<%- include('partials/noteCreatedFathers', {note: note, book: book}) %>
							<% }) %>
						<% } %>

						<%- include('partials/noteTakingFathers', { noteMenuId: noteMenuId, fathers_id: fathers_id, hasHighlight: hasHighlight }) %>
					<% } else { %>
						<span class="m-1 p-1">
								<span class="text-gray-800 dark:text-[#d9dde0] cursor-pointer select-none" id="<%= fathers_id %>"></span>
								<%= text_content %>
						</span>
						<% } %>
				<% }) %>

			</div>
		</div>
	</div>

	<div class="hidden">
		<img
				class="sunDisabled cursor-pointer justify-center"
				src="../images/brightness-high.svg"
				alt="BrightModeDisabled" />
		<img
				class="sunEnabled cursor-pointer justify-center"
				src="../images/brightness-high-fill.svg"
				alt="BrightModeEnabled" />
	</div>

</main>

</body>
</html>
