<% /**
 * bookTitleOptions
 * @type {string[]}
 *
 * selectedBook
 * @type {string}
 *
 * bookChapters
 * @type {number[]}
 *
 * selectedChapter
 * @type {number}
 *
 * previousBook
 * @type {string}
 *
 * previousChapter
 * @type {number}
 *
 * nextBook
 * @type {string}
 *
 * nextChapter
 * @type {number}
 *
 * bookText
 * @type {Array<{is_red: boolean, verse_number: number, verse_text: string }>}
 *
 * noteMenuId
 * @type {number}
 *
 * loggedIn
 * @type {boolean}
 */%>

<%
var bookTitleOptions = bookTitleOptions;
var selectedBook = selectedBook;
var bookChapters = bookChapters;
var selectedChapter = selectedChapter;
var previousBook = previousBook;
var previousChapter = previousChapter;
var nextBook = nextBook;
var nextChapter = nextChapter;
var bookText = bookText;
var noteMenuId = noteMenuId;
var is_red = is_red;
var verse_number = verse_number;
var verse_text = verse_text;
var loggedIn = loggedIn;
%>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="shortcut icon"
			type="x-icon"
			href="../images/orthodoxcanonlogoNEW.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bible</title>
		<link rel="stylesheet" href="/css/output.css" />

		<script src="/scripts/darkModeToggle.js" defer></script>
		<script src="/scripts/bibleFormattingOptions.js" defer></script>
		<script src="/scripts/resetChapterAndSubmit.js" defer></script>
		<script src="/scripts/noteMenuToggle.js" defer></script>
	</head>
	<body
		class="bg-[#e9eef1] sm:text-lg text-sm dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
		<%- include('partials/navBar')  %>

		<main class="grid grid-cols-4 grid-rows-1 gap-5 nodeMargins">
			<article class="xl:col-start-1 xl:col-span-1 sm:col-start-2 sm:col-span-2 col-start-1 col-span-full">
				<!-- Navige Book -->
				<div class="text-lg">
					<h1 class="nodeTitleH1">— Navigate —</h1>
					<div class="nodeInsideDiv">
						<form
						class="grid gap-1"
						id="selectForm"
						action="/users/bible"
						method="GET">
						<select
								name="book"
								class="p-1 mx-2 rounded-sm dark:bg-[#202124]"
								onchange="resetChapterAndSubmit()">
								<% for( let i = 0; i < bookTitleOptions.length; i++ ) { %>
										<option value="<%= bookTitleOptions[i] %>" <%= selectedBook == bookTitleOptions[i] ? 'selected' : '' %>>
												<%= bookTitleOptions[i] %>
										</option>
								<% } %>
						</select>
							<select
								name="chapter"
								id="chapterSelect"
								class="p-1 mx-2 rounded-sm dark:bg-[#202124]"
								onchange="this.form.submit()">
								<% for( let i = 0; i < bookChapters.length; i++ ) {
										if(bookChapters[i] > 0) { %>
												<option value="<%= bookChapters[i] %>" <%= selectedChapter === bookChapters[i] ? 'selected' : '' %>>
														<%= bookChapters[i] %>
												</option>
										<%} else { %>
												<option value="<%= bookChapters[i] %>" <%= selectedChapter === bookChapters[i] ? 'selected' : '' %>>
														<%= bookChapters[i] %>
												</option>
										<% }} %>
							</select>
						</form>
					</div>
				</div>

				<!-- Formatting -->
				<div class="text-lg">
					<h1 class="nodeTitleH1">Formatting Options</h1>
					<div class="nodeInsideDiv">
						<div class="grid gap-1">
							<button
								id="verseBtn"
								class="bg-gray-200 px-1 rounded-sm hover:bg-gray-300 dark:hover:bg-[#0f0f0f] dark:bg-[#202124]">
								Verse-By-Verse
							</button>
							<button
								id="redLetterBtn"
								class="bg-gray-200 px-1 rounded-sm text-red-600 hover:bg-red-600 hover:text-white active:bg-red-600 dark:bg-[#202124]">
								Red Lettering
							</button>
							<select
								name="fontType"
								id="fontType"
								class="dark:bg-[#202124] bg-gray-200 p-1">
								<option value="">Arial</option>
								<option value="Times New Roman">Times New Roman</option>
								<option value="Courier New">Courier New</option>
							</select>
							<select
								name="fontSize"
								id="fontSize"
								class="dark:bg-[#202124] bg-gray-200 p-1">
								<option value="18px">Default Size</option>
								<option value="22px">Medium Size</option>
								<option value="24px">Large Size</option>
							</select>
						</div>
					</div>
				</div>
			</article>
			<!-- Book Text and pagination -->
			<div class="xl:col-start-2 col-span-full row-start-2 col-start-1 xl:col-span-3 xl:row-start-1">
				<div class="text-lg">
					<h1 class="nodeTitleH1 flex justify-center gap-5 align-middle">
						<a class="text-xl" href="/users/bible?book=<%= previousBook %>&chapter=<%= previousChapter %>">
							&#8592;
						</a>
						<%= selectedBook %> Chapter <%= selectedChapter %>
						<a class="text-xl" href="/users/bible?book=<%= nextBook %>&chapter=<%= nextChapter %>">
							&#8594;
						</a>
					</h1>
					<div id="vContainer" class="nodeInsideDiv px-5">

						<% bookText.map((book, index) => {
							const noteMenuId = `createNoteMenu-${index}`;
							const verse_id = book.id;
							if (book.is_red) { %>
								<span id="redLettering" class="m-1 p-1 dark:text-red-500 text-red-600 cursor-pointer select-none" onclick="toggleNoteMenu(`<%= noteMenuId %>`)" >
									<span class="font-semibold text-gray-800 dark:text-[#d9dde0] cursor-pointer select-none" id="<%= verse_id %>"><%= book.verse_number %></span>
									<%= book.verse_text %>
								</span>
							<% } else { %>
								<span class="m-1 p-1 cursor-pointer select-none" onclick="toggleNoteMenu(`<%= noteMenuId %>`)">
									<span class="font-semibold text-gray-800 dark:text-[#d9dde0] cursor-pointer select-none" id="<%= verse_id %>"><%= book.verse_number %></span>
									<%= book.verse_text %>
								</span>

							<% } %>

							<% if(loggedIn) { %>
								<%- include('partials/noteTaking', { noteMenuId: noteMenuId, verse_id: verse_id})%>
							<% }}) %>
					</div>

					<% if(loggedIn) { %>
							<%- include('partials/noteCreated')%>
							<% } %>

				</div>
			</div>
		</main>

	</body>
</html>
