<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="shortcut icon"
			type="x-icon"
			href="/public/images/orthodoxcanonlogoNEW.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bible</title>
		<link rel="stylesheet" href="/css/output.css" />

		<script src="/scripts/darkModeToggle.js" defer></script>
	</head>

	<body
		class="bg-[#e9eef1] sm:text-lg text-sm dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
		<%- include('partials/navBar') %>

		<main>
			<article>
				<div class="2xl:flex gap-5 nodeMargins">
					<!-- Menu Block -->

					<!-- New Block -->
					<div>
						<div class="mb-5 shadow-xl">
							<h1 class="nodeTitleH1">Book of <%= bookText.name %></h1>
							<div class="nodeInsideDiv px-5">
								<% bookText.forEach(book => { if (book.is_red === true) { %>
								<span
									class="m-1 p-1 dark:hover:bg-[#202124] hover:bg-[#f8f8da] hover:border border-[#c4c4ad] dark:border-[#000000] rounded-sm dark:text-red-500 text-red-600">
									<span class="font-semibold text-gray-800 dark:text-[#d9dde0]"
										><%= book.verse_number %>
									</span>
									<%= book.verse_text %></span
								>
								<% } else { %>
								<span
									class="m-1 p-1 dark:hover:bg-[#202124] hover:bg-[#f8f8da] hover:border border-[#c4c4ad] dark:border-[#000000] rounded-sm">
									<span class="font-semibold text-gray-800 dark:text-[#d9dde0]"
										><%= book.verse_number %>
									</span>
									<%= book.verse_text %></span
								>
								<% }}) %>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>

		<footer></footer>

		<!-- Functions -->
	</body>
</html>
